<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body style="font-size: small">
    <h4 style="font-size: medium">Dear {{ auditee_name }},</h4>
    <p>
      This is to inform you that the corrective action submitted for the
      <span style="font-weight: bold"
        >{{ audit_type_name }} - {{ audit_name }} [ {{ dept_name }} ]</span
      >
      non-conformance (NC) has been reviewed and found to be satisfactory.
    </p>

    <p>Accordingly, the NC is now considered closed.</p>
    <p>
      The final audit report is available and can be viewed on the DQMS portal
      for your reference.
    </p>
    <p style="font-weight: bold">DQMS → Audit Management → Audit NC_CAR</p>

    <a href="{{ applicationLink }}" style="font-weight: bold"
      >DQMS APPLICATION LINK</a
    >
    <p>Best Regards,</p>
    <p style="font-weight: bold">{{ regardsBy }}</p>
    <p style="font-weight: 400">{{ dept_name }}</p>

    <div
      style="width: 100%; height: 1px; background: #b6b6b6; margin: 16px 0"
    ></div>

    <div style="color: #db7272; font-size: 14px; margin: 0">
      <p>
        This is an automated notification from the DQMS. Don't reply to this
        sender mail id.
      </p>
    </div>
  </body>
</html>
